.card {
    border-radius: 0.5rem;
    padding: 1.25rem;
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.08);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: clamp(18rem, 32vw, 22em);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;

    z-index: 1;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    color: white;
    background-clip: padding-box;
}

.card:hover {
    transform: translateY(-0.3125rem) scale(1.02); /* 5px */
    box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.12); /* 6px 20px */
    background-size: 110%;
}

.card::before {
    content: "";
    position: absolute;
    border-radius: 0.5rem; /* 8px */
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(255, 204, 0, 0.4);
    z-index: 1;
    transition: width 0.4s ease-in-out;
}

.card:hover::before {
    width: 100%;
}

.card-content {
    position: relative;
    z-index: 2;
}

.card h3,
.card h4 {
    color: #fff;
    margin-bottom: 0.625rem; /* 10px */
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.card p {
    color: #fff;
    font-size: clamp(0.85rem, 1.5vw, 1rem);
    line-height: 1.5;
}
